@tailwind base;
/* putting custom CSS before `@tailwind utilities;` so utilities can override it */

/* APP */
:root {
	--background: #fafafa;
	--primary: #232323;
	--primary-10: #2323231a;
	--primary-30: #2323234d;
	--primary-50: #23232380;
	--accent: #f6a192;
	--error: #be4040;
}

/*
// dark
:root {
	--background: #171717;
	--primary: #f4f4f4;
	--primary-10: #f4f4f41a;
	--primary-30: #f4f4f44d;
	--primary-50: #f4f4f480;
	--accent: #5ca755;
	--error: #be4040;
}
*/

/*
// light
:root {
	--background: #f0f0f0;
	--primary: #232323;
	--primary-10: #2323231a;
	--primary-30: #2323234d;
	--primary-50: #23232380;
	--accent: #a055a7;
	--error: #be4040;
}
*/

@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Light.woff) format('woff');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: nb-television;
	src: url(/fonts/NB-Television-Pro-Mono.woff) format('woff');
}

@font-face {
	font-family: nb-television-2d;
	src: url(/fonts/NB-Television-Pro-Mono-2D.woff) format('woff');
}

@font-face {
	font-family: nb-television-3d;
	src: url(/fonts/NB-Television-Pro-Mono-3D.woff) format('woff');
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-light.woff2) format('woff2');
}

@font-face {
	font-family: untitled-serif;
	src: url(/fonts/test-untitled-serif-regular.woff2) format('woff2');
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--background);
	border-radius: 0;
}

/* END CUSTOM SCROLLBAR */

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: untitled-sans;
	text-transform: uppercase;
	background: var(--background);
	color: var(--primary);
}

/* HEADING */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: untitled-sans;
}
h1 {
	font-size: 120px;
	line-height: 100%;
}

h2 {
	font-size: 64px;
	line-height: 110%;
}

h2 {
	font-size: 64px;
	line-height: 110%;
}

h3 {
	font-size: 48px;
	line-height: 110%;
}

h4 {
	font-size: 36px;
	line-height: 120%;
}

h5 {
	font-size: 28px;
	line-height: 130%;
}

h6 {
	font-size: 20px;
	font-weight: 300;
}

/* BODY */
span,
p {
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}

span.lrg,
p.lrg {
	font-size: 18px;
}

span.sml,
p.sml {
	font-size: 14px;
}

span.xs,
p.xs {
	font-size: 12px;
}

/* MONO */
span.mono,
p.mono {
	font-family: nb-architekt, untitled-sans, sans-serif;
}

span.lrg.mono,
p.lrg.mono {
	letter-spacing: 0.03em;
}

span.sml.mono,
p.sml.mono {
	line-height: 120%;
	letter-spacing: 0.03em;
}

/* BUTTON */
p.btn,
a {
	letter-spacing: 0.05em;
}

p.btn.lrg,
a.lrg {
	font-size: 18px;
}

p.btn.sml,
a.sml {
	font-size: 14px;
}

/* MOBILE SCREENS */
@media only screen and (max-width: 768px) {
	/* HEADING */
	h1 {
		font-size: 56px;
	}

	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 30px;
	}

	h5 {
		font-size: 18px;
		font-weight: 300;
	}

	h6 {
		font-size: 16px;
		font-weight: 300;
	}

	/* BODY */
	p {
		font-size: 14px;
		line-height: 150%;
	}

	p.lrg {
		font-size: 15px;
	}

	p.sml {
		font-size: 12px;
	}

	/* MONO */
	p.lrg.mono {
		font-size: 14px;
		line-height: 140%;
	}

	p.sml.mono {
		font-size: 14px;
		line-height: 140%;
	}

	/* BUTTON */
	a.lrg {
		font-size: 16px;
	}

	a.sml {
		font-size: 14px;
	}
}
