@tailwind base;
/* putting custom CSS before `@tailwind utilities;` so utilities can override it */

/* APP */
:root {
	--black: #191919;
	--toggle: #232323;
	--outline-hero: #232323;
	--background: linear-gradient(115deg, #ededed, #ede7d9, #ededed);
	--background-fallback: #edeae3;
	--background-fallback-50: #edeae380;
	--background-alt: linear-gradient(45deg, #1b1b1b, #171717);
	--button-alt: linear-gradient(115deg, #ededed, #ede7d9, #ededed);
	--primary: #232323;
	--primary-10: #2323231a;
	--primary-30: #2323234d;
	--primary-50: #23232380;
	--accent: #ede7d9;
	--accent-50: #ede7d980;
	--error: #be4040;
	font-weight: 300;
}

:root.dark-mode {
	--black: #191919;
	--toggle: #d9e69f;
	--outline-hero: #ede7d980;
	--background: linear-gradient(45deg, #1b1b1b, #171717);
	--background-fallback: #191919;
	--background-fallback-50: #19191980;
	--background-alt: linear-gradient(45deg, #1b1b1b, #171717);
	--button-alt: #ede7d9;
	--primary: #ede7d9;
	--primary-10: #ede7d91a;
	--primary-30: #ede7d94d;
	--primary-50: #ede7d980;
	--accent: #ede7d9;
	--accent-50: #ede7d980;
	--error: #be4040;
	font-weight: 300;
}

@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Regular.woff) format('woff');
	font-weight: 500;
}

/* 
@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Bold.woff) format('woff');
	font-weight: 700;
} */

@font-face {
	font-family: nb-architekt;
	src: url(/fonts/NB-Architekt-Pro-Light.woff) format('woff');
	font-weight: 400;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-light.woff2) format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: untitled-sans;
	src: url(/fonts/test-untitled-sans-regular.woff2) format('woff2');
	font-weight: 400;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--background);
	border-radius: 0;
}

/* END CUSTOM SCROLLBAR */

body,
html {
	background: var(--background-fallback);
}

body {
	font-family: untitled-sans, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--primary);
	background: var(--background);
}

/* HEADING */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
}
h1 {
	font-family: untitled-serif;
	font-size: 180px;
	line-height: 100%;
}

h2 {
	font-size: 64px;
	line-height: 110%;
}

h2 {
	font-size: 64px;
	line-height: 110%;
}

h3 {
	font-size: 48px;
	line-height: 110%;
}

h4 {
	font-size: 34px;
	line-height: 120%;
}

h5 {
	font-size: 28px;
	line-height: 130%;
}

h6 {
	font-size: 20px;
}

/* BODY */
span,
p {
	font-size: 16px;
	line-height: 175%;
}

span.xl,
p.xl {
	font-size: 18px;
}

span.lrg,
p.lrg {
	font-size: 16px;
}

span.sml,
p.sml {
	font-size: 14px;
}

span.xs,
p.xs {
	font-size: 12px;
}

/* MONO */
span.mono,
p.mono {
	font-family: nb-architekt, untitled-sans, sans-serif;
}

span.lrg.mono,
p.lrg.mono {
	letter-spacing: 0.03em;
}

span.sml.mono,
p.sml.mono {
	line-height: 120%;
	letter-spacing: 0.03em;
}

/* BUTTON */
p.btn,
a {
	letter-spacing: 0.05em;
}

p.btn.lrg,
a.lrg {
	font-size: 16px;
}

p.btn.sml,
a.sml {
	font-size: 14px;
}

/* MOBILE SCREENS */
@media only screen and (max-width: 768px) {
	body,
	html {
		margin: -2px 0;
	}

	/* HEADING */
	h1 {
		font-size: 82px;
	}

	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 14px;
	}

	/* BODY */
	p {
		font-size: 14px;
		line-height: 175%;
	}

	p.lrg {
		font-size: 16px;
	}

	p.sml {
		font-size: 12px;
	}

	/* MONO */
	p.lrg.mono {
		font-size: 14px;
		line-height: 140%;
	}

	p.sml.mono {
		font-size: 14px;
		line-height: 140%;
	}

	/* BUTTON */
	p.btn,
	a {
		letter-spacing: 0.05em;
	}

	p.btn.lrg,
	a.lrg {
		font-size: 17px;
	}

	p.btn.sml,
	a.sml {
		font-size: 14px;
	}
}
